In [49]:
# Author: Caihan Wang
import pandas as pd 
import numpy as np 
import glob, os
from datetime import datetime

In [20]:
# Read in all Daily Cases data
path_DC = r"Raw_data/Daily_Cases"
DC_files = glob.glob(os.path.join(path_DC, "*.csv"))
DC = []
for f in DC_files:
    DC.append(pd.read_csv(f, header=2))

print(len(DC))

58

In [21]:
# Read in all Daily Deaths data
path_DD = r"Raw_data/Daily_Deaths"
DD_files = glob.glob(os.path.join(path_DD, "*.csv"))
DD = []
for f in DD_files:
    DD.append(pd.read_csv(f, header=2))

print(len(DD))

58

In [36]:
# Combine them
DCs = pd.concat(DC).sort_values(["State", "Date"]).reset_index(drop = True)
DDs = pd.concat(DD).sort_values(["State","Date"]).reset_index(drop = True)

In [55]:
DDs.head()

     State         Date  New Deaths
0  Alabama  Apr  1 2020           7
1  Alabama  Apr  1 2021          11
2  Alabama  Apr  2 2020           3
3  Alabama  Apr  2 2021           7
4  Alabama  Apr  3 2020           8

In [56]:
DCs.head()

     State         Date  New Cases
0  Alabama  Apr  1 2020        112
1  Alabama  Apr  1 2021        440
2  Alabama  Apr  2 2020        196
3  Alabama  Apr  2 2021        355
4  Alabama  Apr  3 2020        235

In [41]:
# Combine both
COVID = pd.concat([DCs, DDs["New Deaths"]], axis = 1)

In [54]:
COVID.head()

     State         Date  New Cases  New Deaths
0  Alabama  Apr  1 2020        112           7
1  Alabama  Apr  1 2021        440          11
2  Alabama  Apr  2 2020        196           3
3  Alabama  Apr  2 2021        355           7
4  Alabama  Apr  3 2020        235           8

In [52]:
# Convert Date format
def mdy_to_ymd(d):
    return datetime.strptime(d, '%b  %d %Y').strftime('%Y-%m-%d')

In [59]:
for i in range(len(COVID["Date"])):
     COVID["Date"][i] = mdy_to_ymd(COVID["Date"][i])

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [65]:
# Sort value and reset index
COVID = COVID.sort_values(["State", "Date"]).reset_index(drop = True)

In [66]:
COVID

         State        Date  New Cases  New Deaths
0      Alabama  2020-01-23          0           0
1      Alabama  2020-01-24          0           0
2      Alabama  2020-01-25          0           0
3      Alabama  2020-01-26          0           0
4      Alabama  2020-01-27          0           0
...        ...         ...        ...         ...
38275  Wyoming  2021-11-08        672           0
38276  Wyoming  2021-11-09        297          55
38277  Wyoming  2021-11-10        411           0
38278  Wyoming  2021-11-11          0           0
38279  Wyoming  2021-11-12        785           0

[38280 rows x 4 columns]

In [67]:
# Save it
COVID.to_csv(r'COVID.csv')